{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SMS list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mensajeid</th>
                <th>Destinatario</th>
                <th>Remitente</th>
                <th>Fechaenvio</th>
                <th>Estadoenvio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sms_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.mensajeId }}</td>
                <td>{{ entity.destinatario }}</td>
                <td>{{ entity.remitente }}</td>
                <td>{% if entity.fechaEnvio %}{{ entity.fechaEnvio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.estadoEnvio }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sms_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sms_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sms_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
