{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Message</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Templateid</th>
                <td>{{ entity.templateId }}</td>
            </tr>
            <tr>
                <th>Incidenciaid</th>
                <td>{{ entity.incidenciaId }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{ entity.cliente }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Tecnico</th>
                <td>{{ entity.tecnico }}</td>
            </tr>
            <tr>
                <th>Tsol</th>
                <td>{{ entity.tsol }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modorecepcion</th>
                <td>{{ entity.modoRecepcion }}</td>
            </tr>
            <tr>
                <th>Resoluciones</th>
                <td>{{ entity.resoluciones }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('message_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
