{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mensaje list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Incidenciaid</th>
                <th>Templatename</th>
                <th>Texto</th>
                <th>Estado</th>
                <th>Fechaconstruccion</th>
                <th>Logmensaje</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mensaje_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.incidenciaId }}</td>
                <td>{{ entity.templateName }}</td>
                <td>{{ entity.texto }}</td>
                <td>{{ entity.estado }}</td>
                <td>{% if entity.fechaConstruccion %}{{ entity.fechaConstruccion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.logMensaje }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('mensaje_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mensaje_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('mensaje_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
