{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Logger</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Errortrace</th>
                <td>{{ entity.errorTrace }}</td>
            </tr>
            <tr>
                <th>Fechaenvio</th>
                <td>{{ entity.fechaEnvio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaenvioerroneo</th>
                <td>{{ entity.fechaEnvioErroneo|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('logger') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('logger_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
